# US states

In [21]:
# Import of libraries

import pandas as pd
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
from selenium.webdriver.common.by import By

In [4]:
# Setting the URL

url = 'https://www.sport-histoire.fr/es/Geografia/Lista_estados_estados_unidos.php'

In [6]:
# Setting the driver

driver = webdriver.Chrome()
driver.get(url)

In [7]:
# Selecting the whole table

table = driver.find_element(By.XPATH, '/html/body/div/div[2]/div[2]/div[1]/div/table')
table

In [11]:
# Selecting the body of the table, its rows and the first data

body = table.find_element(By.TAG_NAME, 'tbody')

rows = body.find_elements(By.TAG_NAME, 'tr')

rows[0].find_elements(By.TAG_NAME, 'td')[0].text

'Alabama (AL)'

In [19]:
# Extraction of all the data per row

matrix = []

for r in rows:
    temp = []

    elements = r.find_elements(By.TAG_NAME, 'td')

    for e in elements:
        temp.append(e.text)

    matrix.append(temp)

matrix

[['Alabama (AL)', 'Montgomery', '135 756'],
 ['Alaska (AK)', 'Juneau', '1 717 854'],
 ['Arizona (AZ)', 'Phoenix', '295 254'],
 ['Arkansas (AR)', 'Little Rock', '137 732'],
 ['California (CA)', 'Sacramento', '423 970'],
 ['Carolina del Norte (NC)', 'Raleigh', '139 389'],
 ['Carolina del Sur (SC)', 'Columbia', '82 932'],
 ['Colorado (CO)', 'Denver', '269 601'],
 ['Connecticut (CT)', 'Hartford', '14 357'],
 ['Dakota del Norte (ND)', 'Bismarck', '183 112'],
 ['Dakota del Sur (SD)', 'Pierre', '199 731'],
 ['Delaware (DE)', 'Dover', '6 447'],
 ['Florida (FL)', 'Tallahassee', '170 304'],
 ['Georgia (GA)', 'Atlanta', '153 909'],
 ['Hawái (HI)', 'Honolulu', '28 311'],
 ['Idaho (ID)', 'Boise', '216 446'],
 ['Illinois (IL)', 'Springfield', '149 998'],
 ['Indiana (IN)', 'Indianápolis', '94 321'],
 ['Iowa (IA)', 'Des Moines', '145 743'],
 ['Kansas (KS)', 'Topeka', '213 096'],
 ['Kentucky (KY)', 'Frankfort', '104 659'],
 ['Luisiana (LA)', 'Baton Rouge', '134 264'],
 ['Maine (ME)', 'Augusta', '91 646'],
 ['Maryland (MD)', 'Annapolis', '32 133'],
 ['Massachusetts (MA)', 'Boston', '27 336'],
 ['Míchigan (MI)', 'Lansing', '250 494'],
 ['Minnesota (MN)', 'Saint Paul', '225 171'],
 ['Misisipi (MS)', 'Jackson', '125 434'],
 ['Misuri (MO)', 'Jefferson City', '180 533'],
 ['Montana (MT)', 'Helena', '380 838'],
 ['Nebraska (NE)', 'Lincoln', '200 345'],
 ['Nevada (NV)', 'Carson City', '286 351'],
 ['Nueva Jersey (NJ)', 'Trenton', '22 588'],
 ['Nueva York (NY)', 'Albany', '141 299'],
 ['Nuevo Hampshire (NH)', 'Concord', '24 216'],
 ['Nuevo México (NM)', 'Santa Fe', '314 915'],
 ['Ohio (OH)', 'Columbus', '116 096'],
 ['Oklahoma (OK)', 'Oklahoma City', '181 035'],
 ['Oregón (OR)', 'Salem', '254 805'],
 ['Pensilvania (PA)', 'Harrisburg', '119 283'],
 ['Rhode Island (RI)', 'Providence', '4 002'],
 ['Tennessee (TN)', 'Nashville', '109 151'],
 ['Texas (TX)', 'Austin', '695 621'],
 ['Utah (UT)', 'Salt Lake City', '219 887'],
 ['Vermont (VT)', 'Montpelier', '24 901'],
 ['Virginia (VA)', 'Richmond', '110 785'],
 ['Virginia Occidental (WV)', 'Charleston', '62 755'],
 ['Washington (WA)', 'Olympia', '184 665'],
 ['Wisconsin (WI)', 'Madison', '169 639'],
 ['Wyoming (WY)', 'Cheyenne', '253 336']]

In [22]:
# Extraction of the head of the table

head = table.find_element(By.TAG_NAME, 'thead')

head = [e.text for e in head.find_elements(By.TAG_NAME, 'th')]

In [24]:
# Creation and display of the data frame

states = pd.DataFrame(matrix, columns = head)
states

                      Estado         Capital Superficie (km²)
0               Alabama (AL)      Montgomery          135 756
1                Alaska (AK)          Juneau        1 717 854
2               Arizona (AZ)         Phoenix          295 254
3              Arkansas (AR)     Little Rock          137 732
4            California (CA)      Sacramento          423 970
5    Carolina del Norte (NC)         Raleigh          139 389
6      Carolina del Sur (SC)        Columbia           82 932
7              Colorado (CO)          Denver          269 601
8           Connecticut (CT)        Hartford           14 357
9      Dakota del Norte (ND)        Bismarck          183 112
10       Dakota del Sur (SD)          Pierre          199 731
11             Delaware (DE)           Dover            6 447
12              Florida (FL)     Tallahassee          170 304
13              Georgia (GA)         Atlanta          153 909
14                Hawái (HI)        Honolulu           28 311
15                Idaho (ID)           Boise          216 446
16             Illinois (IL)     Springfield          149 998
17              Indiana (IN)    Indianápolis           94 321
18                 Iowa (IA)      Des Moines          145 743
19               Kansas (KS)          Topeka          213 096
20             Kentucky (KY)       Frankfort          104 659
21             Luisiana (LA)     Baton Rouge          134 264
22                Maine (ME)         Augusta           91 646
23             Maryland (MD)       Annapolis           32 133
24        Massachusetts (MA)          Boston           27 336
25             Míchigan (MI)         Lansing          250 494
26            Minnesota (MN)      Saint Paul          225 171
27             Misisipi (MS)         Jackson          125 434
28               Misuri (MO)  Jefferson City          180 533
29              Montana (MT)          Helena          380 838
30             Nebraska (NE)         Lincoln          200 345
31               Nevada (NV)     Carson City          286 351
32         Nueva Jersey (NJ)         Trenton           22 588
33           Nueva York (NY)          Albany          141 299
34      Nuevo Hampshire (NH)         Concord           24 216
35         Nuevo México (NM)        Santa Fe          314 915
36                 Ohio (OH)        Columbus          116 096
37             Oklahoma (OK)   Oklahoma City          181 035
38               Oregón (OR)           Salem          254 805
39          Pensilvania (PA)      Harrisburg          119 283
40         Rhode Island (RI)      Providence            4 002
41            Tennessee (TN)       Nashville          109 151
42                Texas (TX)          Austin          695 621
43                 Utah (UT)  Salt Lake City          219 887
44              Vermont (VT)      Montpelier           24 901
45             Virginia (VA)        Richmond          110 785
46  Virginia Occidental (WV)      Charleston           62 755
47           Washington (WA)         Olympia          184 665
48            Wisconsin (WI)         Madison          169 639
49              Wyoming (WY)        Cheyenne          253 336